<!DOCTYPE html>
<html>
    <script src="./socket.io/socket.io.js"></script>

  <head>
    <title> Talk to Me </title>
    <link rel="stylesheet" href="css/chat.css">
  </head>
  <body>
    <div>
      <ul id="userList">

      </ul>
    </div>

      <div> 
        <ul id="nickName"></ul>
    <form class="" action="" id="nickForm">
      <input data-testid="nickname-box" placeholder="Insira o seu nickname" class="" id="nickNameInput" autocomplete="off" /><button data-testid="nickname-button" class="">Salvar</button>
    </form>
      </div>
      <ul>
        <% messages.forEach((msg) => { %>
          <li data-testid="message"><%=  msg.timestamp + " "+ "-" + " " + msg.nickname + ":" + " " + msg.message %></li>
          <% }) %>

      </ul>
    <ul id="messages"></ul>
    <form class="formMessage"id="formM" action="">
      <input data-testid="message-box" class="formInput" id="messageInput" autocomplete="off" /><button  data-testid="send-button" class="formButton">Send</button>
    </form>
   

  </body>

  <script src="js/chat.js" > </script>
</html>